#loading{
  position: fixed;
  z-index: 30;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: gray;
  opacity: .8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loading h3{
  font-size: 3em;
  color: white;
  animation: loading infinite;
  opacity: 1;
  text-shadow: 15px 20px 1px black;
  // z-index: 40;
}
#spinner{
  font-size: 5em;
  color: purple;
  animation: spinner 1s alternate infinite;
}
@keyframes spinner {
  
  to{
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from{
    transform: scale(1.6) rotateZ(40deg);
  }
  to{
    transform: scale(1) rotateZ(-40deg);
  }
}

.localisation{
  height: 8vh;
  background-color: rgba(gray, $alpha: .2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  i{
    margin-right: 20px;
    font-size: 1em;
  }
}

.explore__section_1{
  background-color: rgba(gray, $alpha: .1);
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 1.6em;
    width: 80%;
    text-align: center;
    margin: 0;
  }
  p{
    font-size: 1.1em;
    width: 90%;
    text-align: center;
    margin: 10px 0;
    color: rgba($color: #000000, $alpha: .7);
  }
}

.homepage__fonctionnement{
  margin-top: 30px;
  padding-bottom: 10px;
  h3{
    margin-left: 20px;
    font-size: 1.4em;
  }
  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cards__restaurants{
 background-color: rgba(gray, $alpha: .1);
 padding: 50px 0px;
 margin-top: 30px;
//  margin-bottom: 30px;
 display: flex;
 flex-direction: column;
 align-items: center;  
 h3{
  align-self: flex-start;
  margin-left: 20px;
  font-size: 1.4em;
 }
}

