.btn-primary{
  margin: 20px auto;
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  background: #5A2EAB;
  background: -webkit-linear-gradient(bottom right, #5A2EAB, #E29198);
  background: -moz-linear-gradient(bottom right, #5A2EAB, #E29198);
  background: linear-gradient(to top left, #5A2EAB, #E29198);
  color: white;
  font-weight: 500;
}