.card__container{
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  width: 85%;
  position: relative;
  padding: 10px 0;
  border-radius: 22px;
  margin-bottom: 20px;
  background-color:rgba($color: grey, $alpha: .1);
  box-shadow: 1px 1px 12px rgba($color: grey, $alpha: .4);
  &:last-child{
    background-color: azure;
    i{
      color: darkorchid;
    }
  }
  .number{
    position: absolute;
    left: -15px;
    background-color: darkviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
  }
  i{
    margin: 0px 20px 0px 30px;
    font-size: 1.4em;
    color: gray;
  }
}
.new_restaurant{
  background-color: $azure;
  color: green;
  width: 80px;
  text-align: center;
  padding: 10px;
  font-weight: 500 !important;
  position: absolute;
  right: 10px;
  border-radius: 4px;
}

.card__restaurant{
  position: relative;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px rgba($color: gray, $alpha: .5);
  img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  } 
  .card__restaurant_content{
    position: relative;
    i{
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 1.5em;
      &:hover::before{
        cursor: pointer;
        font-weight: bold;
        // color: violet;
        animation: filling-heart 3s ease-in-out both;
      }
    }
  }
  @keyframes filling-heart {    

    0% {        
      color: violet;      
        transform:  rotateY(60deg);  
      }       
    100% {
      color: blueviolet;
      transform:  rotateY(0deg);  

    }
}
  h5{
    margin: 10px;
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  p{
    margin: 0px 10px 10px;
    font-weight: 400;
    font-size: 1.1em;
  } 
}
// Dishes cards
@for $i from 1 through 4 {
  .restaurant__dish{
    &:nth-child(#{$i}){
      animation: enter 1s ease-in #{$i * 0.15}s;
    }  
  }
}
.restaurant__dish{
  background-color: white;
  display: flex;
  width: 85%;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px rgba($color: black, $alpha: .1);
  border-radius: 16px;
  &:hover{
    .dish__price{
      right: 0px;
      transition: all 0.6s ease-in;

    }
    .restaurant__dish_menu{
      width: 80%;
      transition: width 0.6s ease-in;
    }
    .dish__checked{
      display: flex;
      transition:  0.6s ease-in;
      width: 20%;
      i{
        font-size: 1.8em;
        transition: font-size 0s 0.2s;
        animation: 0.6s rotate 0.1s;
      }
    }
  }
  .dish__checked{
    position: absolute;
    right: 0;
    width: 0%;
    transition: width 0.4s;
    height: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    // padding: 15px;
    background-color: #99e2d0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      // display: none;
      font-size: 0em;
      transition: font-size 0.4s;
      color: white;
    }

    transition: 0.4s ease-in-out;
    // display: none;
  }
  .restaurant__dish_menu{
    position: relative;
    width: 95%;
  }
  h5{
    margin: 5px 0px;
    font-size: 1em;
    font-weight: 600;
    text-size-adjust: initial;
  }
  p{
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "...";
    display: inline-block;
    margin: 0;
    font-size: 0.9em;
  }
  .dish__price{
    position: absolute;
    width: 12%;
    bottom: 0px;
    right: -15px;
    font-size: 1em;
    font-weight: 600;
    color: rgba($color: black, $alpha: .7);
    
  }
}

@keyframes rotate{
  from{
    transform: rotateZ(0);
  }
  to{
    transform: rotateZ(360deg);
  }
}

@keyframes enter{
  from{
    transform: translateY(30px);
    opacity: 0;
  }
  
}